<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatCommentaryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ChatCommentaryApp.Properties.Settings>
      <setting name="ChannelID" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="RewardID" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="Cost" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Play Commentary Line</value>
      </setting>
    </ChatCommentaryApp.Properties.Settings>
  </userSettings>
</configuration>